In [2]:
import pandas as pd
import numpy as np

In [3]:
labels = ['a', 'b', 'c']
my_data = [10, 20, 30]
arr = np.array(my_data)
d = {'a':10, 'b':20, 'c':30}

In [6]:
arr

array([10, 20, 30])

In [9]:

pd.Series(data=arr)
# basically an indexed np array

0    10
1    20
2    30
dtype: int32

In [10]:
pd.Series(data=arr, index=labels)

a    10
b    20
c    30
dtype: int32

Dict to Series

In [13]:
pd.Series(d)
# takes key as label

a    10
b    20
c    30
dtype: int64

In [16]:
pd.Series(data=[sum, len, print])
# Series can pretty much hold every type even function

0      <built-in function sum>
1      <built-in function len>
2    <built-in function print>
dtype: object

Grab information from Series

In [20]:
ser1 = pd.Series(data=[1,2,3,4], index=['USA', 'Germany', 'USSR', 'Japan'])
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [21]:
ser2 = pd.Series(data=[1,2,5,4], index=['USA', 'Germany', 'Italy', 'Japan'])
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [22]:

ser1['USA']

1

In [23]:
ser3 = pd.Series(data=labels)
ser3

0    a
1    b
2    c
dtype: object

In [25]:
ser3[0]

'a'

In [27]:
ser1 + ser2
# it tries to match index and when no index matches = NaN
# Values becomes floats

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64